<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <rewrite>
      <rules>
        <rule name="rule 1q" stopProcessing="true">
	<match url="^(.*)$"  />
	<action type="Rewrite" url="//index.php?/{R:1}"  />
</rule>
<rule name="rule 2q" stopProcessing="true">
	<match url="^(.*)$"  />
	<action type="Rewrite" url="//index.php?/{R:1}"  />
</rule>
<rule name="rule 3q" stopProcessing="true">
	<match url="^(.*)$"  />
	<action type="Rewrite" url="/index.php?/{R:1}"  />
</rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>
