/* PAGE INITIALS */

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* CUSTOM FONTS */

@font-face {
  font-family: 'OpenSans-Regular';
  src: 'fonts/OpenSans-Regular.ttf'
}

@font-face {
  font-family: 'OpenSans-Light';
  src: 'fonts/OpenSans-Light.ttf'
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: 'fonts/OpenSans-Italic.ttf'
}

@font-face {
  font-family: 'OpenSans-LightItalic';
  src: 'fonts/OpenSans-LightItalic.ttf'
}

/* *{
  border:.03vh #333 solid;
} */

/* POSITIONING */

@media (max-width: 992px) {
  .oapps-button-pos {
    /* CUSTOM PROPOSAL BODY MARGIN*/
    position: relative;
    top: 100px;
  }
}

@media (min-width: 993px) {
  .oapps-button-pos {
    /* CUSTOM PROPOSAL BODY MARGIN*/
    position: fixed;
    top: 300px;
    width: 250px;
  }
}

/* SIZING */

@media (max-width: 992px) {
  .oapps-proposal-m {
    /* CUSTOM PROPOSAL BODY MARGIN*/
    margin-bottom: 715px !important;
  }
  .oapps-proposal-m2 {
    /* CUSTOM PROPOSAL BODY MARGIN*/
    margin-bottom: 50px !important;
  }
}

@media (min-width: 993px) {
  .oapps-proposal-m {
    /* CUSTOM PROPOSAL BODY MARGIN*/
    margin-bottom: 150px !important;
  }
  .oapps-proposal-m2 {
    /* CUSTOM PROPOSAL BODY MARGIN*/
    margin-bottom: 150px !important;
  }
}

@media (max-width: 992px) {
  .oapps-ph {
    height: 1350px !important;
  }
}

@media (min-width: 993px) {
  .oapps-ph {
    height: 715px !important;
  }
}

a:link {
  text-decoration: none;
}

a:visited {
  color: white;
}

img {
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

.oapps-h {
  min-height: 18.5% !important;
}

.oapps-sh {
  min-height: 5.5% !important;
}

.oapps-mh {
  height: 63.5% !important;
}

.oapps-rh {
  height: 564px !important;
}

.oapps-ch {
  height: 500px !important;
}

.oapps-hh {
  height: 60px !important;
}

.oapps-pl {
  height: 30px !important;
}

.oapps-bmb {
  /* CUSTOM INNER BUTTON MARGIN */
  margin-top: .75rem !important;
  /* if you figure out how to center vertically in a div, remove this */
}

/* button {
  outline: 0 !important;
} */

.oapps-btn {
  cursor: pointer;
  font-family: calibri;
  font-weight: bold;
  color: #A8A8A8;
  font-size: 25px;
  height: 60px !important;
}

.oapps-btn-dropdown {
  cursor: pointer;
  font-size: 15px;
  color: black;
  height: 35px !important;
  text-align: center;
}

.oapps-btn-norec {
  font-family: calibri;
  font-weight: bold;
  color: #A8A8A8;
  font-size: 25px;
  height: 60px !important;
}

.oapps-btn:hover {
  font-family: calibri;
  font-weight: bold;
  background-color: #670000;
  color: rgb(255, 255, 255);
  font-size: 25px;
  transition: all .3s ease-in-out;
}

.oapps-btn-dropdown:hover {
  background-color: #670000;
  color: rgb(255, 255, 255);
  font-size: 15px;
  transition: all .3s ease-in-out;
}

.oapps-btn-pl {
  cursor: pointer;
  font-family: calibri;
  color: black;
  font-size: 20px;
  height: 50px !important;
}

.oapps-btn-pl:hover {
  font-family: calibri;
  color: #A8A8A8;
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.oapps-profile {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  background: white;
}

.oapps-profile-small {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: black;
}

.oapps-profile-img {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  
}

.oapps-profile-img:focus, .oapps-profile-img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all .3s ease-in-out;
}

.oapps-profile-img-btn {
  outline: none !important;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

/* TEXT */

a:hover {
  text-decoration: none;
}

/* :: Dropdown content */

.oapps-dropdown-details {
  margin: 5%;
}

.oapps-content {
  width: 250px !important;
}

.oapps-primaryhead-text-1 {
  font-family: georgia;
  font-size: 88px;
  text-shadow: 0px 3px 10px #00000075;
  color: white;
}

.oapps-subhead-text-1 {
  font-family: calibri;
  font-size: 20px;
  text-shadow: 0px 3px 10px #00000075;
  color: white;
}

.oapps-nav-text-1 {
  font-family: arial;
  color: white;
  font-size: 18px;
  height: 100%;
  cursor: pointer;
  padding-top: 15px;
  text-align: center;
}

.oapps-nav-text-1:hover {
  font-family: arial;
  color: #580B0B;
  background-color: white;
  font-size: 18px;
  /* text-decoration: underline; */
  cursor: pointer;
  padding-top: 15px;
  text-align: center;
  transition: all .3s ease-in-out;
}

.oapps-head-text-1 {
  font-family: times new roman;
  font-size: 27px;
}

.oapps-login-text-1 {
  font-family: times new roman;
  color: rgb(192, 48, 52);
  font-size: 24px;
}

.oapps-text-small {
  font-size: 12px;
}

/* COLORS */

.oapps-bg-head {
  background-image: linear-gradient(to bottom, #890303, #670000);
}

.oapps-bg-nav {
  background-color: #580B0B;
  border: .1px #707070 solid;
}